@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebMarch.Models.Admin.CategoryViewModel;
@{
    Layout = "~/Views/SharedAdmin/_AdminLayout.cshtml";

}
<form method="post">
    <div class="row">
        <div class="col-sm-4">
            <div>
                Category name:
                <input type="text" name="Name" class="form-control" value="@Model.SelectedCategory.Name"/>
            </div>
            <div>
              Parent:
              <select name="ParentId" class="form-control">
                  <option>Without</option>
                  @foreach (var item in Model.Categories)
                  {
                     <option value="@item.Id">@item.Name</option> 
                  }

              </select>
            </div>
        </div>
        <div class=col-sm-12>
            <button class="btn btn-info">Save</button>
        </div>
    </div>
</form>