@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<WEB.Database.Models.Category>;
@{
    Layout = "~/Views/SharedAdmin/_AdminLayout.cshtml";

}
<div class="row">
    <div class="col-sm-12">
        <a href="/Admin/Categories/Create" class="btn-info">Add Category</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Parent</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td> 
                             <td>@item.Name</td> 
                              <td>@(item.Parent!=null ? @item.Parent.Name :"Main") </td> 
                             <td>
                                 <a href="/Admin/Categories/Edit/@item.Id" class="btn btn-info">Edit</a>
                                 <a href="/Admin/Categories/Delete/@item.Id" class="btn btn-danger">Delete</a>
                             </td> 
                        </tr>
                       
                    }
                
            </tbody>

        </table>
    </div>
</div>